* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #0f0e0e;
$mainBlue: #2f3061;
$mainWhite: #f7fff7;
$mainGrey: #e1e3dd;
$mainOrange: #ff9f1c;

body {
  background: $mainWhite;
  color: $mainBlack;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
